/* Flexbox */
.form,
.wrapper__form,
.hbspt-form,
.hs-nested-form-fix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Form */
.form {
    width: auto;
    height: auto;
    top: 20vh;
    right: 8%;
    padding: 50px;
    font-size: 1.8em;
    border-radius: 5px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.281);
}

.wrapper__form {
    width: 300px;
    height: auto;
    flex-direction: column;
}

.title-form {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

/* Form hubspot */
.hs-form {
    width: 290px;
    display: block;
}

/* Input hubspot */
.input {
    width: 275px;
    margin-left: -15px;
    height: auto;
}

input:focus {
	border-color: blue;
	box-shadow: none;
    outline: none;
    
}

.hs-input {
    width: 100%;
    height: 40px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 1.5em;
    line-height: 15px;
    border: 1px solid silver;
    border-radius: 5px;
}

input[name=firstname],
input[name=email],
input[name=phone],
input[name=company] {
    background-position: 10px center;
    background-size: 8%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[name=firstname] {
    background-image: url('https://cdn2.hubspot.net/hubfs/3453052/dsl/icon/smile.svg');
}

input[name=email] {
    background-image: url('https://cdn2.hubspot.net/hubfs/3453052/dsl/icon/mail.svg');
}

input[name=phone] {
    background-image: url('https://cdn2.hubspot.net/hubfs/3453052/dsl/icon/call.svg');
}

input[name=company] {
    background-image: url('https://cdn2.hubspot.net/hubfs/3453052/dsl/icon/briefcase.svg');
}

/* Button hubspot */
.hs-submit {
    width: 100%;
    height: auto;
}

.actions {
    width: 100%;
    height: auto;
}

.hs-button {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    margin-top: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: proxima-nova;
    text-shadow: 0;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(232deg, #f7b52a, #fdaa12);
    transition: all 0.2s ease-in-out;
}

.hs-button:hover {
    box-shadow: 6px 6px 10px #44444436; 
}

input.hs-button.primary.large {
	border-radius: 4px;
	background-color: #8634f2;
	padding: 0;
	color: #fff;
	text-transform: none;
	font-weight: 600;
	box-shadow: 0 15px 15px -15px rgba(84, 0, 255, 0.9);
	border: none;
	transition: 200ms;
}

input.hs-button.primary.large:hover {
	background-color: #8b41ed;
	box-shadow: 0 22px 20px -20px rgba(84, 0, 255, 0.9);
	transform: translateY(-2px)
}

/* Feedback hubspot */
.hs-error-msg,
.hs-main-font-element {
    color: red;
}

label.hs-error-msg {
    margin-left: -50px;
}

.hs_error_rollup {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
}

ul.no-list.hs-error-msgs.inputs-list {
    width: 100%;
	list-style: none;
	padding-inline-start: 0;
	background: rgba(255, 0, 0, 0.13);
	border-radius: 8px;
	font-size: 14px;
	text-align: center;
	padding: 2px;
	color: red;
}

.hs-form-required {
    display: none;
}

/* === Media-queries == */
@media only screen and (max-width: 1200px) {
    .form {
        right: -5%;
        padding: 50px;
    }

    .wrapper__form {
        width: 250px;
    }
}

@media only screen and (max-width: 992px) {
    .form {
        width: 70%;
        max-width: 350px;
        right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        top: 20px;
        margin-bottom: 100px;
        position: relative;
    }

    .wrapper__form {
        width: 70%;
    }

    .hs-form {
        width: 300px;
    }

    .input {
        width: 300px;
    }
}