/* Flexbox */
.section,
.section__top,
.section__top__left,
.section__top__left__wrapper,
.section__down,
.section__down__wrapper,
.section__down__wrapper__item,
.section__down__wrapper__button,
.wrapper__arrow,
.arrow-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100%;
    height: auto;
}

.color--pink {
    background-image: linear-gradient(242deg, #f55cba, #e84d73);
}

.color--purple {
    background-image: linear-gradient(65deg, #362051, #4d2b76);
}

/* === Section down ===*/
.section__top {
    width: 70%;
    max-width: 1200px;
    height: 100vh;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
}

.section__top__left {
    width: 70%;
    height: auto;
    position: relative;
    align-items: flex-start;
}

.section__top__left__wrapper {
    width: 350px;
    height: auto;
    align-items: flex-start;
}

.section__top__image {
    width: 30%;
    height: 100%;
    position: relative;
}

.image {
    width: auto;
    height: 100%;
}

.wrapper__arrow {
    width: 100%;
    height: auto;
    position: absolute;
    margin-bottom: 10px;
    bottom: 4%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.wrapper__arrow {
    -webkit-animation: anime 5s; /* safari 4.0 - 8.0 */
    animation: anime .8s infinite;
    animation-timing-function: ease-out;
    animation-delay: 400ms;
}

/* safari 4.0 - 8.0 */
@-webkit-keyframes anime {
    0% {transform: translateY(0)}
    50% {transform: translateY(15px)}
    100% {transform: translateY(0)}
}

/* standard syntax */
@keyframes anime {
    0% {transform: translateY(0)}
    50% {transform: translateY(15px)}
    100% {transform: translateY(0)}
}

.mask-arrow {
    width: 200px;
    height: 40px;
    cursor: pointer;
    position: absolute;
}

.arrow-bottom {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
}

/* === Section down ===*/
.section__down {
    width: 70%;
    max-width: 1200px;
    height: 100vh;
    min-height: auto;
    flex-direction: column;
}

.section__down__wrapper {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-top: 10px;
}

.section__down__wrapper--small {
    height: auto;
}

.section__down__wrapper__item {
    width: 100%;
    height: auto;
    margin: 2%;
    align-items: flex-start;
}

.image-next-X {
    width: 90%;
    margin: 5%;
}

.section__down__wrapper__button {
    width: 100%;
    height: auto;
}

.button {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    line-height: 20px;
    font-weight: 600;
    background-image: linear-gradient(232deg, #f7b52a, #fdaa12);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 6px 6px 20px #0e0e0ef5; 
}


/* === Media-queries === */
@media only screen and (max-width: 992px) {
    .section {
        height: auto;
        padding-top: 0;
    }

    .section__top {
        width: 100%;
        top: 15vh;
        flex-direction: column;
        height: auto;
    }

    .section__top__image {
        width: 100%;
        height: auto;
        background-size: 100%;
        position: relative;
    }

    .image {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .section__top__left__wrapper {
        width: 100%;
    }

    .wrapper__arrow {
        height: 150px;
        position: relative;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .section__down {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .section__down__wrapper {
        flex-direction: column;
        height: auto;
    }

    .image-next-X {
        width: 70%;
        margin: auto;
    }
    
}