.h1 {
    font-size: 2.5em;
    line-height: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.p {
    font-size: 1.5em;
    line-height: 20px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.a {
    font-size: 1em;
    line-height: 10px;
    font-weight: 100;
}

.b {
    font-size: 1em;
}

/* === Color text === */
.text-white {
    color: #ffffff;
}

.text-yellow {
    color: #f7b52a;
}

/* === Link === */
.inline-link {
    text-decoration: none;
    color: #0065ff;
    font-weight: 600;
    position: relative;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color 200ms;
}

.inline-link:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    height: 2px;
    background: #006aff;
    transform: scaleX(0);
    transition: transform 300ms ease-out,color 200ms;
    transform-origin: right center
}

.inline-link:hover:after {
    transform: scale(1);
    transform-origin: left center;
    transition: transform 300ms ease-in
}

.inline-link:active:after {
    background: #5ca0ff
}

.inline-link:active {
    color: #5ca0ff;
    transition: color 200ms
}

.inline-link:before {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    right: 0;
    height: 2px;
    background: #b7d4ff;
    transform: scaleX(1);
    transition: transform 300ms ease-out,color 200ms;
    transform-origin: right center
}